* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI';
    background: #f8f9fa;
}

.navbar {
    background: #111;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.home {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.card {
    width: 250px;
    height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    text-decoration: none;
    color: black;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.1);
    background: black;
    color: white;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 25px;
    padding: 40px;
}

.product {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.product:hover {
    transform: translateY(-10px);
}

.product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product h3 {
    margin: 10px;
}

.product p {
    margin: 10px;
    color: green;
    font-weight: bold;
}

.product button {
    width: 90%;
    margin: 10px;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
}

.product button:hover {
    background: red;
}

#cart p {
    background: white;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
    border-radius: 10px;
}
button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
